<%= content_for :head  do %>

<script src="/main-routes/TemplateData/UnityProgress.js"></script>
<script src="https://virtual-silcton.s3.amazonaws.com/main-routes/UnityLoader.js"></script>
<% end%>
<%
if cookies[:input] == "joystick"
  unity_file = "/unity/ambler_joystick.unity3d"
else
  unity_file = "/unity/ambler_mouse.unity3d"
end
%>


  <script type="text/javascript">
var gameInstance
  $( document ).on('turbolinks:load',function(){ gameInstance = UnityLoader.instantiate("gameContainer", "/main-routes/Silcton_MainRoutes_Pointing_Website.json", {onProgress: UnityProgress}); })
  var route = "<%= @route %>";

function unityIsReady() {

    gameInstance.SendMessage('/Main Camera','ChangeLevel', route);
  }

function recordPositionLine(positionString) {
    $log = $("#virtual_navigation_log");
    var previousLog = $log.val();
    $log.val(previousLog + positionString);
  }


</script>


    <div class="webgl-content">
      <div id="gameContainer" style="width: 1024px; height: 768px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Virtual Silcton</div>
      </div>
    </div>

<%= form_tag study_instrument_path(:study_id=>@study.id,:instrument_id=>@instrument.order) do %>
<input type="hidden" name="virtual_navigation_log[log]" id="virtual_navigation_log" />
<input type="hidden" name="virtual_navigation_log[route]" value="<%= "#{@route} #{@route_order}" %>" />
<%= submit_tag 'I am Finished', :class => "button", style: 'position:absolute;left:15%;bottom:0;'%>
<% end %>
