
<%= content_for :head  do %>

<script src="/main-routes/TemplateData/UnityProgress.js"></script>
<script src="https://virtual-silcton.s3.amazonaws.com/main-routes/Build/UnityLoader.js"></script>
<% end%>
<%
if cookies[:input] == "joystick"
  unity_file = "/unity/ambler_joystick.unity3d"
else
  unity_file = "/unity/ambler_mouse.unity3d"
end
%>


<script type="text/javascript">
  var gameInstance
  $( document ).on('turbolinks:load',function(){ gameInstance = UnityLoader.instantiate("gameContainer", "/main-routes/Silcton_MainRoutes_Pointing_Website.json", {onProgress: UnityProgress}); })

		function unityIsReady() {
			gameInstance.SendMessage('/Main Camera','ChangeLevel','pointing');
		}

		var next_direction_estimate_index = 0;

    function recordPointingQuestion(pointingDiamondIndex, facingDiamondIndex, targetBuildingIndex, angle){
			$("#virtual_direction_estimates_" + next_direction_estimate_index + "_start_landmark_id").val(landmark_index_to_id(pointingDiamondIndex));
			$("#virtual_direction_estimates_" + next_direction_estimate_index + "_facing_landmark_id").val(landmark_index_to_id(facingDiamondIndex));
			$("#virtual_direction_estimates_" + next_direction_estimate_index + "_target_landmark_id").val(landmark_index_to_id(targetBuildingIndex));
			$("#virtual_direction_estimates_" + next_direction_estimate_index + "_bearing").val(angle);
			++next_direction_estimate_index;
    }

		function landmark_index_to_id (index) {
			if (index == 0) return <%= VirtualLandmark.find_by_name("Batty House").id %>;
			else if (index == 1) return <%= VirtualLandmark.find_by_name("Lynch Station").id %>;
			else if (index == 2) return <%= VirtualLandmark.find_by_name("Harris Hall").id %>;
			else if (index == 3) return <%= VirtualLandmark.find_by_name("Harvey House").id %>;
			else if (index == 4) return <%= VirtualLandmark.find_by_name("Golledge Hall").id %>;
			else if (index == 5) return <%= VirtualLandmark.find_by_name("Snow Church").id %>;
			else if (index == 6) return <%= VirtualLandmark.find_by_name("Sauer Center").id %>;
			else if (index == 7) return <%= VirtualLandmark.find_by_name("Tobler Museum").id %>;
		}

		function doneWithPointing() {
			document.virtual_direction_test_form.submit();
		}


</script>

<%= form_for @virtual_direction_test, :url => :study_instrument, :html => {:id => "virtual_direction_test_form", :name => "virtual_direction_test_form"} do |f| %>
  <% total_direction_estimates = 0 %>
  <% for pointing_location in @virtual_environment.virtual_landmarks %>
     <% for target in @virtual_environment.virtual_landmarks %>
			 <% if target == pointing_location %>
			   <% next %>
			 <% else %>
         <%= hidden_field_tag "virtual_direction_estimates[#{total_direction_estimates}][start_landmark_id]" %>
         <%= hidden_field_tag "virtual_direction_estimates[#{total_direction_estimates}][facing_landmark_id]" %>
         <%= hidden_field_tag "virtual_direction_estimates[#{total_direction_estimates}][target_landmark_id]"  %>
         <%= hidden_field_tag "virtual_direction_estimates[#{total_direction_estimates}][bearing]" %>
         <% total_direction_estimates = total_direction_estimates + 1 %>
			 <% end %>
     <% end %>
  <% end %>
  <%= hidden_field_tag "total_direction_estimates", total_direction_estimates - 1 %>
<% end %>

<div class="webgl-content">
  <div id="gameContainer" style="width: 1024px; height: 768px"></div>
  <div class="footer">
    <div class="webgl-logo"></div>
    <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
    <div class="title">Virtual Silcton</div>
  </div>
</div>
