<% if current_experimenter.administrator %>
<h2>All Studies</h2>
<% else %>
<h2><%= current_experimenter.lab.name %> Studies</h2>
<% end %>

<table class="table table-striped">
  <thead>
    <th>Study Name</th>
    <th>Active?</th>
    <th>Last administered</th>
    <th>&#35; of participants</th>
    <th>When to share data</th>
    <th>&#35; of participants currently shared</th>
    <th>Primary experimenter</th>
  </thead>
  <% for study in @studies %>
  <tr>
    <td><strong><%= link_to study.name, experimenter_study_path(study) %></strong></td>
    <td><% if study.active %><img src="/images/icon-lightbulb.png" alt="Active"/><% end %></td>
    <td>
      <% if study.last_administered %>
        <%= time_ago_in_words study.last_administered %> ago
      <% else %>
        never
      <% end %>
    </td>
    <td><%= pluralize(study.participants.count, "participant")%></td>
    <td><%= study.when_to_share_data %></td>
    <td>
      <%- if study.participants.with_currently_shared_data.count > 0 %>
        <%= pluralize(study.participants.with_currently_shared_data.count, "participant")%>
      <%- end %>
    </td>
    <td><%= link_to study.experimenter.full_name, experimenter_experimenter_path(study.experimenter) %>
  </tr>
  <% end %>
</table>